# Specify owners for all files in the repository
* @abhinavrastogi-harness @knagurski

# Specify owner for a specific directory
/packages/* @abhinavrastogi-harness @knagurski

# Specify owner for a specific file or directory under apps/gitness
/apps/gitness/* @abhinavrastogi-harness @vardanbansal-harness
