body {
  @apply text-cn-2 text-base overscroll-none !important;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-smooth: auto;
}

main {
  @apply px-0 py-10 w-full !important;
}

.sl-container :is(h1):not(:where(.not-content *)) {
  @apply text-4xl font-normal text-cn-1;
}

.sl-container :is(h2):not(:where(.not-content *)) {
  @apply text-3xl font-normal text-cn-1;
}

.sl-container :is(h3):not(:where(.not-content *)) {
  @apply text-2xl font-normal text-cn-1;
}

code {
  @apply bg-cn-gray-secondary !important;
}

.content-panel {
  @apply px-0 pb-0 m-0 border-none !important;
}

/* Line numbers for LiveEditor */
.line-numbers .prism-code {
  counter-reset: line-number;
}

.line-numbers .token-line::before {
  counter-increment: line-number;
  content: counter(line-number);
  display: inline-block;
  text-align: right;
  margin-right: 1rem;
  min-width: 2rem;
  opacity: 0.3;
  user-select: none;
}

/* Global sidebar style overrides */

.sidebar {
  @apply p-0;
}

mobile-starlight-toc {
  display: none;
}

ul.top-level {
  @apply flex flex-col w-full justify-start;
}

ul.top-level ul {
  @apply border-b border-cn-3 px-3 py-6 flex flex-col gap-3 pt-5 justify-start;
}

ul.top-level li {
  @apply font-normal text-cn-2 text-sm border-none p-0 m-0;
}

ul.top-level li a {
  @apply py-1 px-2 m-0 text-cn-3 hover:text-cn-1;
}

ul.top-level li a[aria-current="page"] {
  @apply font-normal bg-cn-1 rounded-md text-cn-1;
}

ul.top-level li details summary {
  @apply flex items-center mt-6 !important;
}

ul.top-level li details summary .group-label {
  @apply p-0 px-3;
}

ul.top-level summary .group-label span {
  @apply font-normal text-sm text-cn-disabled;
}

ul.top-level summary svg {
  @apply font-normal text-cn-disabled text-lg;
}

/* Right-hand page sidebar overrides */

.right-sidebar-panel {
  @apply px-3 pl-0 py-6 pt-16;
}

.right-sidebar-panel h2 {
  @apply font-normal text-cn-2 text-sm;
}

.right-sidebar-panel ul {
  @apply m-0 p-0 flex flex-col gap-4 mt-4;
}

.right-sidebar-panel li a {
  @apply m-0 p-0 text-cn-3;
}

.right-sidebar-panel li ul {
  @apply pl-4 border-l border-cn-3;
}

/* Search override */

[aria-label="Search"] {
  @apply bg-cn-3 border border-cn-3 rounded-md h-[36px] !important;
}

[aria-label="Search"] > kbd:first-of-type {
  @apply bg-cn-2 border border-cn-2 !important;
}

/* Code/Preview override */

.expressive-code pre {
  @apply rounded-md overflow-hidden border border-cn-3 bg-cn-3 !important;
}

.expressive-code .frame {
  box-shadow: none !important;
}

.expressive-code pre > code {
  overflow-x: auto !important;
}

pre.prism-code {
  @apply overflow-hidden bg-cn-2 !important;
}

/* Pagination overrides */

.pagination-links a {
  @apply border border-cn-3 rounded-md text-2 text-cn-3;
}

.pagination-links a .link-title {
  @apply text-lg leading-tight;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

.example-expand {
  .disclosure-icon {
    display: none;
  }

  &[open] .disclosure-icon {
    transform: rotate(90deg);
  }

  @supports selector(summary::marker) {
    summary::-webkit-details-marker,
    summary::marker {
      content: "";
      display: none;
    }

    .disclosure-icon {
      display: block;
    }
  }
}
