.prose {
  .dark &,
  .dark-std-std & {
    &.wmde-markdown,
    &.wmde-markdown-var {
      color-scheme: dark;

      --color-fg-default: #dedede;
      --color-fg-muted: #969896;
      --color-fg-subtle: #7aa6da;

      --color-canvas-default: var(--cn-bg-1);
      --color-canvas-subtle: #2a2a2a;
      --color-border-default: #424242;
      --color-border-muted: #343434;

      --color-prettylights-syntax-comment: #969896;
      --color-prettylights-syntax-constant: #e78c45;
      --color-prettylights-syntax-entity: #e7c547;
      --color-prettylights-syntax-storage-modifier-import: #c397d8;
      --color-prettylights-syntax-entity-tag: #d54e53;
      --color-prettylights-syntax-keyword: #c397d8;
      --color-prettylights-syntax-string: #b9ca4a;
      --color-prettylights-syntax-variable: #d54e53;
      --color-prettylights-syntax-brackethighlighter-unmatched: #df5f5f;
      --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
      --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
      --color-prettylights-syntax-carriage-return-text: #ffffff;
      --color-prettylights-syntax-carriage-return-bg: #c82829;
      --color-prettylights-syntax-string-regexp: #d54e53;
      --color-prettylights-syntax-markup-list: #e7c547;
      --color-prettylights-syntax-markup-heading: #7aa6da;
      --color-prettylights-syntax-markup-italic: #70c0b1;
      --color-prettylights-syntax-markup-bold: #c397d8;
      --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
      --color-prettylights-syntax-markup-deleted-bg: #67060c;
      --color-prettylights-syntax-markup-inserted-text: #b9ca4a;
      --color-prettylights-syntax-markup-inserted-bg: #033a16;
      --color-prettylights-syntax-markup-changed-text: #ffdfb6;
      --color-prettylights-syntax-markup-changed-bg: #5a1e02;
      --color-prettylights-syntax-meta-diff-range: #c397d8;
      --color-prettylights-syntax-brackethighlighter-angle: #969896;
      --color-prettylights-syntax-constant-other-reference-link: #7aa6da;

      --color-neutral-muted: rgba(110, 118, 129, 0.4);
      --color-accent-fg: #7aa6da;
      --color-accent-emphasis: #70c0b1;
      --color-danger-fg: #d54e53;
      --color-danger-emphasis: #df5f5f;
      --color-success-fg: #b9ca4a;
      --color-success-emphasis: #3fb950;
      --color-attention-fg: #e78c45;
      --color-attention-emphasis: #c397d8;
      --color-done-fg: #70c0b1;
      --color-done-emphasis: #7aa6da;

      --color-copied-active-bg: #2e9b33;
    }

    .token {
      &.maybe-class-name,
      &.class-name {
        color: #3dc9b0;
      }
    }
  }

  .light &,
  .light-std-std & {
    &.wmde-markdown,
    &.wmde-markdown-var {
      color-scheme: light;

      --color-fg-default: #353535;
      --color-fg-muted: #10a567;
      --color-fg-subtle: #386ac3;

      --color-canvas-default: var(--cn-bg-1);
      --color-canvas-subtle: #f8f8f8;
      --color-border-default: #eaeaea;
      --color-border-muted: #eaeaea;

      --color-prettylights-syntax-comment: #10a567;
      --color-prettylights-syntax-constant: #e88501;
      --color-prettylights-syntax-entity: #386ac3;
      --color-prettylights-syntax-storage-modifier-import: #386ac3;
      --color-prettylights-syntax-entity-tag: #386ac3;
      --color-prettylights-syntax-keyword: #8431c5;
      --color-prettylights-syntax-string: #6d8600;
      --color-prettylights-syntax-variable: #e06c75;
      --color-prettylights-syntax-brackethighlighter-unmatched: #c82829;
      --color-prettylights-syntax-invalid-illegal-text: #ffffff;
      --color-prettylights-syntax-invalid-illegal-bg: #4271ae;
      --color-prettylights-syntax-carriage-return-text: #ffffff;
      --color-prettylights-syntax-carriage-return-bg: #4271ae;
      --color-prettylights-syntax-string-regexp: #e06c75;
      --color-prettylights-syntax-markup-list: #6d8600;
      --color-prettylights-syntax-markup-heading: #386ac3;
      --color-prettylights-syntax-markup-italic: #3e999f;
      --color-prettylights-syntax-markup-bold: #386ac3;
      --color-prettylights-syntax-markup-deleted-text: #ffffff;
      --color-prettylights-syntax-markup-deleted-bg: #4271ae;
      --color-prettylights-syntax-markup-inserted-text: #6d8600;
      --color-prettylights-syntax-markup-inserted-bg: #033a16;
      --color-prettylights-syntax-markup-changed-text: #ffdfb6;
      --color-prettylights-syntax-markup-changed-bg: #5a1e02;
      --color-prettylights-syntax-meta-diff-range: #3e999f;
      --color-prettylights-syntax-brackethighlighter-angle: #10a567;
      --color-prettylights-syntax-constant-other-reference-link: #386ac3;

      --color-neutral-muted: rgba(110, 118, 129, 0.4);
      --color-accent-fg: #386ac3;
      --color-accent-emphasis: #8431c5;
      --color-danger-fg: #e06c75;
      --color-danger-emphasis: #c82829;
      --color-success-fg: #6d8600;
      --color-success-emphasis: #3fb950;
      --color-attention-fg: #e88501;
      --color-attention-emphasis: #6d8600;
      --color-done-fg: #3e999f;
      --color-done-emphasis: #386ac3;

      --color-copied-active-bg: #4271ae;
    }

    .token {
      &.maybe-class-name,
      &.class-name {
        color: #008080;
      }
    }
  }

  & img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .token {
    &.punctuation {
      color: var(--color-prettylights-syntax-string);
    }

    &.string {
      color: var(--color-prettylights-syntax-string);
    }

    &.builtin {
      color: var(--color-prettylights-syntax-storage-modifier-import);
    }
  }

  &.wmde-markdown {
    font: var(--cn-comp-markdown-content-paragraph);
    @apply text-cn-foreground-2 !max-w-full;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-cn-foreground-1 border-none pb-0;
    }

    h1 {
      font: var(--cn-comp-markdown-title-h1);
      @apply my-cn-xl;
    }

    h2 {
      font: var(--cn-comp-markdown-title-h2);
      @apply my-cn-lg;
    }

    h3 {
      font: var(--cn-comp-markdown-title-h3);
      @apply my-cn-md;
    }

    h4 {
      font: var(--cn-heading-base);
      @apply my-cn-sm;
    }

    h5 {
      font: var(--cn-heading-small);
      @apply my-cn-xs;
    }

    p {
      @apply my-cn-sm;
    }

    ul,
    ol {
      @apply my-cn-md pl-6 pr-0;

      & :is(ul, ol) {
        @apply my-0;
      }
    }

    li {
      @apply marker:text-cn-foreground-2 my-cn-2xs ps-0;
    }

    ol {
      counter-reset: custom-counter;
      @apply list-none [counter-reset:custom-counter];

      li {
        &:before {
          content: counter(custom-counter) '.';
          counter-increment: custom-counter;
          position: absolute;
          left: -20px;
          top: 0;
        }

        @apply my-cn-xs relative;
      }
    }

    a {
      font: var(--cn-comp-markdown-content-emphasized);
      @apply text-cn-foreground-accent hover:text-[var(--cn-comp-link-text-hover)] hover:no-underline;
    }

    code {
      @apply font-body-code px-cn-2xs py-cn-4xs text-nowrap rounded border-0 bg-[var(--cn-set-brand-surface-bg)] !text-[var(--cn-set-blue-soft-text)] before:hidden after:hidden;
      font-size: inherit;
      line-height: inherit;
    }

    strong {
      font: var(--cn-comp-markdown-content-emphasized);
      @apply text-cn-foreground-2;
    }

    pre {
      @apply font-body-code bg-cn-background-1 border-cn-borders-3 text-cn-foreground-1 mb-0 rounded border py-3 pl-4 pr-3;

      code {
        @apply bg-cn-background-1 !text-cn-foreground-1 mr-7 p-0;
      }
    }

    blockquote {
      font: var(--cn-comp-markdown-content-paragraph);
      @apply text-cn-foreground-3 my-cn-md relative border-0 pl-4 pr-0 before:absolute before:inset-y-0 before:left-0 before:w-1 before:rounded-sm before:bg-[var(--cn-border-2)];
    }

    table {
      @apply my-cn-md;

      th {
        @apply text-cn-foreground-1 font-heading-small border-l-0 border-r-0 border-t-0 px-0 py-1.5 pr-10;
      }

      td {
        @apply py-cn-sm border-l-0 border-r-0 px-0;

        &:not(:last-child) {
          @apply pr-cn-3xl;
        }
      }

      tr {
        @apply !bg-transparent;

        &:last-child {
          td {
            @apply border-0;
          }
        }
      }

      thead tr {
        @apply border-0;
      }
    }
  }

  &.comment {
    @apply font-body-normal !bg-transparent;

    pre code {
      @apply bg-transparent;
    }

    a,
    blockquote {
      @apply font-body-normal;
    }

    strong {
      @apply font-body-strong;
    }
  }
}
