---
import { IconV2, IconNameMapV2 } from "@harnessio/ui/components";
---

<div
  class="not-content grid grid-cols-[repeat(auto-fill,minmax(60px,1fr))] gap-2"
>
  {
    Object.keys(IconNameMapV2).map((name) => (
      <div
        class="aspect-square grid place-items-center bg-cn-background-2 border p-3 rounded"
        title={name}
      >
        <IconV2
          name={name as keyof typeof IconNameMapV2}
          className="w-full h-full"
        />
      </div>
    ))
  }
</div>
