---
import {
  Card,
  CopyButton,
  IconNameMapV2,
  IconV2,
  type IconV2NamesType,
} from "@harnessio/ui/components";
---

<div
  class="not-content grid grid-cols-[repeat(auto-fill,minmax(120px,1fr))] gap-2"
>
  {
    Object.keys(IconNameMapV2).map((name) => {
      return (
        <Card.Root size="sm">
          <Card.Content className="border-b text-cn-foreground text-center grid place-items-center py-2">
            <IconV2 size="lg" name={name as IconV2NamesType} />
          </Card.Content>
          <Card.Title
            as="h6"
            className="text-2 truncate font-mono text-center mx-4 my-2"
          >
            {name}
          </Card.Title>
          <div class="flex justify-center m-2">
            <CopyButton name={name} client:only />
          </div>
        </Card.Root>
      );
    })
  }
</div>
