html,
body {
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-buttons-holder {
  display: flex;
  column-gap: 10px;
  padding: 10px 10px 0px 10px;
}

.buttons-holder {
  display: flex;
  column-gap: 10px;
  padding: 10px;
}

.demo-holder {
  flex: 1;
  display: flex;
}

.active-button {
  background-color: yellow;
}
