.nested-sidebar-height {
  height: calc(100vh - var(--cn-breadcrumbs-height) - var(--cn-inset-layout-indent) - var(--cn-inset-border-width) * 2);
}

.repo-files-height {
  height: calc(
    100vh - var(--cn-page-nav-full-height) - var(--cn-inset-layout-indent) - var(--cn-inset-border-width) * 2
  );
}

.branch-selector-trigger-as-input {
  background-color: var(--cn-comp-input-bg);
  padding-inline: var(--cn-input-md-pl) var(--cn-input-md-pr);
}

.width-popover-max-width {
  max-width: var(--radix-popover-content-available-width);
}

.settings-form-width {
  width: 570px;
}

.file-explorer-header {
  /* has-[:hover]:bg-cn-selected rounded */
  &:has(:hover) {
    @apply bg-cn-hover rounded;
  }
}
