/* move to shared styles */
/* @import url('@harnessio/core-design-system/mfe-themes'); */

:root,
:host {
  /* PP Figma shades */
  --canary-grey-6: 240 6% 6%;
  --canary-grey-8: 240 7% 8%;
  --canary-grey-10: 240 6% 10%;
  --canary-grey-12: 240 5% 11%;
  --canary-grey-15: 240 6% 15%;
  --canary-grey-20: 240 6% 20%;
  --canary-grey-23: 0 0% 23%;
  --canary-grey-29: 0 0% 29%;
  --canary-grey-30: 240 6% 30%;
  --canary-grey-40: 240 6% 40%;
  --canary-grey-50: 240 6% 50%;
  --canary-grey-60: 240 6% 60%;
  --canary-grey-70: 240 6% 70%;
  --canary-grey-80: 240 6% 80%;
  --canary-grey-90: 240 6% 90%;
  --canary-grey-94: 240 7% 94%;
  --canary-grey-96: 0 0% 96%;
  --canary-grey-98: 0 0% 98%;
}

:root,
:host {
  /* value */
  /* color */
  --canary-base-chrome-50: 240 20% 99%;
  --canary-base-chrome-100: 240 28% 95.1%;
  --canary-base-chrome-150: 240 29.4% 88%;
  --canary-base-chrome-200: 240 13% 82%;
  --canary-base-chrome-400: 240 8.9% 66.9%;
  --canary-base-chrome-300: 240 12.9% 80.2%;
  --canary-base-chrome-500: 240 7.8% 59.6%;
  --canary-base-chrome-600: 244.3 6.4% 43.1%;
  --canary-base-chrome-700: 240 8.2% 32%;
  --canary-base-chrome-800: 240 7.8% 27.6%;
  --canary-base-chrome-850: 240 8% 18%;
  --canary-base-chrome-900: 240 6.4% 10%;
  --canary-base-chrome-950: 240 8.1% 7.3%;
  --canary-base-chrome-1000: 240 10.3% 5.7%;
}

@layer themes {
  /* TODO: replace hsl with variables for theming */
  :root,
  :host {
    /* Graph */
    --canary-graph-background-1: var(--canary-grey-6); /* nodes group - light color */
    --canary-graph-background-2: var(--canary-grey-8); /* dashed nodes group - dark color */
    --canary-graph-background-3: hsla(var(--canary-grey-50) / 0.1); /* collapse button bg */
    --canary-graph-background-4: var(--canary-grey-15); /* collapse button Hover bg */
    --canary-graph-border-1: var(--canary-grey-20);
  }

  /* Need .light and .dark classes for MFE */
  /* Standalone app uses .light-std-std and .dark-std-std as defaults for light and dark themes */
  .light,
  .light-std-low {
    /* Graph */
    --canary-graph-background-1: 0 0% 98%; /* nodes group - light color */
    --canary-graph-background-2: 240 8% 95%; /* dashed nodes group - dark color */
    --canary-graph-background-3: hsla(240, 4%, 90%, 1); /* collapse button bg */
    --canary-graph-background-4: 240 5% 79%; /* collapse button Hover bg */
    --canary-graph-border-1: 240 5% 79%;
  }

  .light-std-std {
    /* Graph */
    --canary-graph-background-1: 0 0% 100%; /* nodes group - light color */
    --canary-graph-background-2: 0 0% 98%; /* dashed nodes group - dark color */
    --canary-graph-background-3: hsla(240, 4%, 90%, 1); /* collapse button bg */
    --canary-graph-background-4: 240 5% 79%; /* collapse button Hover bg */
    --canary-graph-border-1: 240 5% 79%; /* node step border */ /* border-2*/
  }

  .light-std-high {
    /* Graph */
    --canary-graph-background-1: 0 0% 100%; /* nodes group - light color */
    --canary-graph-background-2: 0 0% 98%; /* dashed nodes group - dark color */
    --canary-graph-background-3: hsla(240, 4%, 90%, 1); /* collapse button bg */
    --canary-graph-background-4: 240 5% 79%; /* collapse button Hover bg */
    --canary-graph-border-1: 240 5% 79%; /* node step border */ /* border-2*/
  }

  .light-prot-std {
    /* Graph */
    --canary-graph-background-1: 0 0% 100%; /* nodes group - light color */
    --canary-graph-background-2: 0 0% 98%; /* dashed nodes group - dark color */
    --canary-graph-background-3: hsla(240, 4%, 90%, 1); /* collapse button bg */
    --canary-graph-background-4: 240 5% 79%; /* collapse button Hover bg */
    --canary-graph-border-1: 240 5% 79%; /* node step border */ /* border-2*/
  }

  .dark,
  .dark-std-low {
    /* Graph */
    --canary-graph-background-1: var(--canary-base-chrome-1000);
    --canary-graph-background-2: var(--canary-base-chrome-950);
    --canary-graph-background-3: hsla(var(--canary-base-chrome-850) / 0.5);
    --canary-graph-background-4: var(--canary-base-chrome-850);
    --canary-graph-border-1: var(--canary-grey-20);
  }

  .dark-std-std {
    /* Graph */
    --canary-graph-background-1: var(--canary-base-chrome-1000);
    --canary-graph-background-2: var(--canary-base-chrome-950);
    --canary-graph-background-3: hsla(var(--canary-base-chrome-850) / 0.5);
    --canary-graph-background-4: var(--canary-base-chrome-850);
    --canary-graph-border-1: var(--canary-base-chrome-850);
  }

  .dark-std-high {
    /* Graph */
    --canary-graph-background-1: var(--canary-base-chrome-1000);
    --canary-graph-background-2: var(--canary-base-chrome-950);
    --canary-graph-background-3: hsla(var(--canary-base-chrome-400) / 0.1);
    --canary-graph-background-4: var(--canary-base-chrome-850);
    --canary-graph-border-1: var(--canary-base-chrome-700);
  }

  .dark-prot-std {
    /* Graph */
    --canary-graph-background-1: var(--canary-base-chrome-1000);
    --canary-graph-background-2: var(--canary-base-chrome-950);
    --canary-graph-background-3: hsla(var(--canary-base-chrome-850) / 0.5);
    --canary-graph-background-4: var(--canary-base-chrome-850);
    --canary-graph-border-1: var(--canary-base-chrome-850);
  }
}
