---
import PageSidebar from "@astrojs/starlight/components/PageSidebar.astro";

const headings = Astro.locals.starlightRoute?.headings ?? [];
const hasEnoughHeadings = headings.filter((h: any) => h.depth <= 3).length >= 3;
---

{
  hasEnoughHeadings && (
    <div
      class="w-[200px] shrink-0 sticky top-0 h-screen"
      style="padding-top: 20px;"
    >
      <PageSidebar />
    </div>
  )
}
