---
import { Button, ButtonLayout, IconV2 } from "@harnessio/ui/components";
import ThemeSelect from "./ThemeSelect.astro";
---

<ButtonLayout>
  <ThemeSelect />
  <Button
    variant="ghost"
    className="text-cn-foreground-1 p-0 hover:bg-transparent hover:text-cn-foreground-primary"
  >
    Blog
  </Button>
  <Button variant="ghost" iconOnly>
    <IconV2 name="environments" size={16} />
  </Button>
</ButtonLayout>
