.PipelineGraph-RootContainer {
  transform-origin: left top;
}

.PipelineGraph-NodesContainer {
  position: absolute;
  width: max-content; /* IMPORTANT: do not delete this */
}

.PipelineGraph-SvgContainer {
  top: 0px;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
.PipelineGraph-SvgContainer > svg {
  overflow: visible;
}

.PipelineGraph-Canvas {
  width: 100%;
  box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.15) inset;
}

/* TODO: temporary */
.PipelineGraph-AnimatePath {
  animation: dashLine 1000ms linear;
  animation-fill-mode: forwards;
}

/* TODO: temporary */
.PipelineGraph-AnimateNode {
  animation: dashLine 1500ms linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count: 5;
}

/* TODO: temporary */
@keyframes dashLine {
  to {
    stroke-dashoffset: 0;
  }
}
